<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading"> Cadastro de Empresas
            </div>
            <div class="panel-body">
                <form #f role="form" name="form">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" [(ngModel)]="grupo.nome" class="form-control" type="text" maxlength="50" name="nome"
                                />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <button id="button-salvar" class="btn btn-success" type="submit" (click)="onSubmit()">Salvar</button>
                <button id="button-voltar" class="btn btn-default" (click)="back()">Voltar</button>
            </div>
        </div>
    </div>
</div>