<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"><label>Cadastro de Usuarios</label>
        </div>
        <div class="panel-body">
            <div class="btn-toolbar">
                <button id="button-inserir" type="button" class="btn btn-success" (click)="inserir()">Inserir</button>
                <button id="button-editar" type="button" class="btn btn-default" (click)="editar()">Editar</button>
                <button id="button-excluir" type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
            </div>
            <hr />
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" [ngClass]="{'setSelected': selected && selected.id === usuario.id}"
                            (click)="setSelected(usuario)">
                            <td>{{usuario.nome}}</td>
                            <td>{{usuario.email}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-offset-5">
                            {{usuarios.length}} / {{usuarios.length}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button id="button-editar" type="button" class="btn btn-default" (click)="back()">Voltar</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>